:root {
    --cafe-color: rgb(185, 160, 78);
}

body {
    height: 100vh;
}

.main-container {
    display: flex;
}

.left-side {
    height: 100vh;
    width: 35vw;
    background-image: url(images/backgorund-image.png);
    background-size: contain;
    flex-shrink: 0;
}

.logo-section {
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 35px;
    font-family: 'Noto Sans Syloti Nagri', sans-serif;
    color: white;
    margin: 10px 0px 25px 0px;
}

img {
    width: 80px;
    margin-top: 25px;
}

.form-container {
    margin-left: 80px;
    width: 50vw;
}

p {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 50px 200px 40px 80px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(245, 245, 245);
    font-family: 'Poppins', sans-serif;
}

.form-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-boxes {
    display: flex;
    flex-wrap: wrap;
}

.input-boxes > div {
    display: flex;
    flex-direction: column;
    margin: 15px 80px 15px 0px;
}

label {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
}

input:focus {
    border: 1px solid rgb(238, 182, 99);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    outline: none;
}

input {
    height: 25px;
    width: 250px;
    border: 1px solid #E5E7EB;
}

.error {
    border: 1px solid red;
}

span {
    position: relative;
}

.error + span::after {
    content: "*Passwords do not match";
    color: red;
    position: absolute;
    top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

button {
    font-size: 0.9rem;
    height: 40px;
    width: 200px;
    margin: 20px 0px 15px 0px;
    background-color: var(--cafe-color);
    border: none;
    border-radius: 5px; 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
}

.under-button {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--cafe-color);
    font-weight: bold;
}